// Global Styles
* {
  padding: 0;
  margin: 0;
  font-family: Helvetica, sans-serif;
}

.app {
  color: #9e2a2b;
}

.ui.container {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.63);
  /* background: url(iso-republic-hands-using-laptops.jpg); */
}

.ui.segment {
  width: 375px;
  height: 421px;
  background: rgba(0, 0, 0, 0.63);
  border: 1px solid #ffffff;
  border-radius: 5px;
}

#column {
  width: 405px;
  height: 500px;
  margin: auto;
}

div.container p {
  color: #ffffff;
  text-align: center;
  font-size: 18px;
}

.ui.form > p,
.ui.form > p a {
  font-size: 14px;
  color: #ffffff;
}

.ui.form .field {
  margin: 0 0 0.5em;
}

.ui.fluid.left.icon.input {
  width: 299.51px;
  height: 37.54px;
  background: #ffffff;
  color: #000000;
  margin: 0 auto;
}

.ui.large.button {
  margin: 0 auto;
  width: 300.31px;
  height: 40.73px;
  background: #ff7a00;
  color: #ffffff;
  font-size: 14px;
  font-family: Helvetica;
  border-radius: 0;
}

.ui.large.form {
  margin: 15px auto 0;
  height: 100%;
}

.ui.black.basic.button {
  background: #ffffff;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.error-container {
  background-color: #ff7a00;
  opacity: 0.3;
  color: white;
  border: 1px solid #ffff;
  display: flex;
  align-self: center;
  justify-content: center;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    &:hover {
      transform: scale(1.3);
      transition: all 0.2s ease-in-out;
    }
  }

  img {
    height: 30px;
    padding-left: 1rem;
  }

  span {
    color: white;
  }
}
