@import "./color";

.article-footer {
  background-color: $article-footer-bg;
  padding: 2rem 0;
}

.article-footer__container {
  width: 60%;
  margin: auto;
  display: grid;
  grid-gap: 1.8rem;
  grid-template-columns: repeat(3, 1fr);
}

.ui.card > .image > img,
.ui.cards > .card > .image > img {
  height: 200px !important;
}

@media (max-width: 890px) {
  .article-footer__container {
    grid-template-columns: repeat((2, 1fr));
    justify-items: center;
    align-items: center;
  }
}

@media (max-width: 920px) {
  .article-footer__container {
    width: 90%;
  }
}

@media (max-width: 890px) {
  .article-container {
  }
}

@media (max-width: 990px) {
  .article-container {
  }
}

@media (min-width: 1100px) {
  .article-footer__container {
    width: 70%;
  }
}

@media (max-width: 1100px) {
  .article-footer__container {
    width: 85%;
  }
}

@media (max-width: 568px) {
  .article-footer__container {
    width: 90%;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
  }
}
