@import "./color";

.article-footer {
    background-color: $article-footer-bg;
    padding: 2rem 0;
}

.article-footer__container{
    width: 80%;
    margin: auto;
    display: grid;
    grid-gap: 1.8rem;
    grid-template-columns: repeat(3, 1fr);

    p {
        padding: 10px;
        background-color: white;
        border-radius: 5px;
        box-shadow: $card-shadow;
        margin-bottom: 0;
    }
}
