.author-container {
  display: flex;
  align-items: center;
}

.author-container__image img {
  border-radius: 50%;
  width: 70px;
  height: 70px;
}

.author-container__details {
  width: 100%;
  margin-left: 1rem;

  h4 {
    margin-bottom: 0;
  }

  p {
    margin: 0 0 2px 0;
  }
}
