.author-container {
  display: flex;
  margin-left: 20px;
}

.author-container__title {
    width: 1000px;
}

.author-container__image img {
  border-radius: 100px;
  width: 100px;
  height: auto;
}

.author-container__details {
  width: 100%;
  margin-left: 1.2rem;

  h3 {
    margin: 0 0 7px 0;
  }

  p {
    font-size: 1rem;
    font-weight: 600;
    margin: 0 0 2px 0;
  }

  p:last-child {
    font-size: 1.3rem;
  }
}
