.profile-img__upload {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 1.2rem;
  cursor: pointer;
}

.ui.modal > .content > .description {
  margin-top: 1rem;
}

@media  (max-width: 991px){
  .ui.modal > .close {
    top: 0.0535rem;
    right: 0;
  }
}

