@import "./color";

.follow-card {
  margin: 0.8rem 0;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 1rem;
  align-items: center;
  padding: 1.2rem 4rem;
  box-shadow: $card-shadow;
  border-radius: 0.625rem;
  background-color: $text;
}

.follow-card__img {
  width: 100px;
  height: auto;
}

.follow-card__img img {
  width: 100%;
  border-radius: 50%;
}

.follow-card__header a {
  color: $black;
}

.follow-card__action {
  margin: 0.5rem 0;
}

.follow-card__action {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: $background;
}

.follow-card__action_follower {
  color: $grey;
  margin-left: 0.5rem;
}

.follow-card__action_btn {
  border: 0.5px solid $background;
  color: $background;
  border-radius: 0.325rem;
  margin-left: 1.2rem;
  padding: 0.165rem 1rem;
  cursor: pointer;
  outline: none;
  background-color: $text;
}

.follow__action_btn {
  border-color: $black;
  color: $black;
  background-color: $text;
  font-size: 0.8rem;
  width: 70px;
}

.follow__action_btn:hover {
  color: $black !important;
  background-color: rgb(240, 240, 240) !important;
}

.follow-card__action_btn:hover,
.profile-info__action_btn:hover {
  background-color: $background;
  color: $text;
}

@media (max-width: 425px) {
  .custom-container {
    width: 98%;
  }
  .follow-card {
    border: 0.1px solid #ffffff;
    padding: 1rem 1rem;
  }
  .follow-card__img {
    width: 80px;
  }
}
