.ui.cards,
.ui.grid > .column:not(.row),
.ui.grid > .row > .column {
  position: static !important;
}

.homepage-cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  justify-items: center;
  grid-gap: 10px;

  // :first-child{
  //   margin-top: 1rem !important;
  // }

  // :last-child {
  //   margin-bottom: 1rem !important;
  // }
}

.homepage-card-header {
  text-align: center;
}
