@import "./color.scss";

.article-info__title {
    margin-left: 0.2rem;
}

.article-info-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $background;
}

.article-info__summary {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1rem;
}

.article-info__img {
    width: 50px;
    height: 50px;
    margin-right: 0.5rem;
    img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }
}

.article-info__author {
    font-weight: bold;

    p{
        margin-bottom: 0;
        text-transform: capitalize
    }
}

.article-info__author-name {
    span {
        font-weight: normal;
        font-style: italic;
    }
}

.article-info__read-time {
    margin-left: 0.5rem;
    font-weight: normal;
}
