@import "./color";
* {
    margin: 0;
    padding: 0;
}

.article-main {
    padding-top: 50px;
    min-height: calc(100vh - 40px);
}
.article-container {
    width: 80%;
    margin: auto;
    display:  grid;
    grid-gap: 4rem;
    grid-template-columns: 3fr 1fr;
    padding-bottom: 2rem;
}

.category-container {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: flex-start;  
}

.trending-section {
    margin-top: 50px;
}

.trending-section h5 {
    background-color: $blue;
    color: $text;
    text-align: center;
    padding: 8px;
    border-radius: 5px;
}

.title {
    border-bottom: 1px solid $black;
    padding-bottom: 20px;
    margin-bottom: 10px;
}

.title h5 {
    margin: 0;
    padding-bottom: 5px;
    font-size: 1.2em;
}

.title span {
    font-size: 1em;
    font-weight: 700;
}

/*
 * style category links
 */
 .links {
    color: #111;
    font-weight: 600; 
    font-size: .7rem; 
    padding-right:.5rem; 
    text-transform: uppercase;
 }

 /*
 * style article photo container
 */
 .photo {
     height: 300px;
     background-color: #111;
 }

 .photo-by {
    font-size: .85rem
 }

 .links ~ .links {
    padding-left: .5rem;
    border-left: 1px solid $background
 }

 .links-section {
    padding: .7rem 0rem .1rem;
 }

@media (max-width: 768px) {
    .article-container {
        width: 96%;
        grid-template-columns: 1fr;
        grid-gap: 1rem; 
    }

    .category-container {
        width: 96%;
    }

}

@media (max-width: 920px) {
    .article-container {
        width: 90%;
    }

    .category-container {
        width: 90%;
    }

}

@media (max-width: 890px) {
    .article-container {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 990px) {
    .article-container {
        grid-gap: 2rem;
    }

}

@media (max-width: 1100px) {
    .article-container {
        width: 85%;
    }

    .category-container {
        width: 85%;
    }

}
